.manage-profile {
    margin: 50px 0px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);

    .card {
        max-width: 600px;
    }

    .avatar-container {
        margin-bottom: 20px;
    }

    .avatar {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 5px solid #ffc10e;
        object-fit: cover;
    }

    table {
        td {
            float: left;
        }

        .text-end {
            float: right;

            input {
                text-align: right;
                border: 2px solid #3ac4d3;
                box-shadow: 1px 1px 0 0 #25b8c8;
                padding: 5px;
                border-radius: 5px;
                width: 100%;
            }
        }
    }

    h2 {
        font-size: 25px;
        font-weight: bold;
    }

    .btn {
        background-color: #3ac4d3;
    }

    .btn:hover {
        background-color: #00b6ca;
    }

    @media only screen and (min-width: 992px) {
        padding-top: 100px;
        margin-bottom: 250px;
    }
}