.calendar-page {
    .calendar {
        max-height: 1400px;
        overflow-y: scroll;

        a {
            font-weight: bold;
            text-decoration: none !important;
        }

        .destination-item {
            height: auto !important;
            margin-bottom: 30px;
        }

        .booking-code {
            width: 100%;
            margin-bottom: 5px;
        }

        .confirm {
            background-color: green !important;
            font-weight: bold;
        }

        .cancel {
            background-color: red !important;
            font-weight: bold;
        }

        .pending {
            background-color: #e5af10 !important;
            font-weight: bold;
        }

        .content {
            width: 100%;
        }

        .sub-meta {
            display: flex;
            justify-content: space-between;
            margin-bottom: 3px;
        }

        .booking-info {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 1px;
        }

        .control {
            display: flex;
            justify-content: space-between;
            flex: 1 1 50%;
            min-width: 100%;
        }

        .destination-footer {
            row-gap: 10px;
        }
    }

    @media only screen and (max-width: 992px) {
        .tour-list-custom {
            display: none;
        }
    }
}