.tour-detail-page {
    padding-top: 15px;

    .container-fluid {
        .row {
            --bs-gutter-y: 0px !important;
        }

        #p-custom {
            margin-bottom: 0px !important;
        }
    }

    .tour-details-content .description,
    .accordion-body {
        ul, li {
            list-style: circle !important;
        }
    }
    
    .tour-details-content .description {
        text-align: justify;
    }

    .location .quantity-order {
        margin-left: 135px;
    }

    .form-custom {
        .date,
        .time {
            display: flex;
            justify-content: space-between;
            align-items: center
        }

        .tickets .price {
            float: right;
            color: red;
        }

        input {
            width: 100%;
            height: 35px !important;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .date-input {
            display: flex;
            gap: 5px;
            align-items: center;
            max-width: 210px;

            i {
                font-size: 25px;
            }
        }

        .people {
            float: right;
        }
    }

    .image-similar {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 2px;
    }

    @media only screen and (max-width: 767px) {
        .img-custom {
            max-height: 500px !important;
            overflow-y: scroll;

            img {
                height: auto !important;
            }
        }
    }

    @media only screen and (max-width: 991px) {
        .location .quantity-order {
            float: right;
            margin-left: 0 !important;
        }
    }
}