.tour-detail-page {
    padding-top: 15px;

    .container-fluid {
        .row {
            --bs-gutter-y: 0px !important
        }
    }

    @media only screen and (max-width: 767px) {
        .img-custom {
            max-height: 500px !important;
            overflow-y: scroll;

            img {
                height: auto !important;
            }
        }
    }
}