.notifi-success {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    padding: 15px 20px;
    background-color: #40ae59;
    color: white;
    border: 3px solid #006d00;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 1s, opacity 0.5s;

    .title {
        font-weight: bold;
        margin-bottom: 5px;
    }

    #bold-red {
        font-weight: bold;
    }
}

.notifi-success.hide {
    transform: translate(-50%, -100%);
    opacity: 0;
}

.notifi-success.show {
    transform: translate(-50%, 0);
    opacity: 1;
}