.order-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 560px;
    background-color: #f7f9fc;

    .message {
        text-align: center;
        background: #ffffff;
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        max-width: 555px;
        width: 100%;
        animation: fadeIn 1s ease-in-out;

        img {
            width: 80px;
            height: 80px;
            margin-bottom: 15px;
        }

        h2 {
            font-size: 22px;
            font-weight: bold;
            color: #333;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            color: #666;
            margin-bottom: 15px;
        }

        a {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
            border-radius: 8px;
            transition: all 1s;
        }

        .success h2 {
            color: green;
        }

        .failed h2 {
            color: red;
        }

        .success a {
            background-color: #28a745;
            color: #fff;
        }
        
        .failed a {
            background-color: #dc3545;
            color: #fff;
        }

        .success a:hover {
            background-color: #218838;
        }

        .failed a:hover {
            background-color: #c82333;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-80px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}