.tour-page {
    .theme-btn {
        width: 40px;
        height: 40px;
        border-radius: 50% !important;
        text-align: center;
    }

    .theme-btn:hover {
        color: white !important;
        background-color: #F7921E !important;
    }
}