.user-header {
    position: sticky;
    top: 0;
    z-index: 1000;

    .title {
        color: #ffc10e;
    }

    #img-logo {
        width: 50px;
        border-radius: 50%;
    }

    .nav .nav-link {
        font-weight: 600;
        padding: 8px 16px;
        transition: 0.3s;
        color: #000;
    }

    .nav .nav-link:hover {
        color: #45C3D2 !important;
    }

    .nav .nav-link.active {
        background-color: #45C3D2 !important;
        color: white !important;
        border-radius: 20px;
    }

    .search-group {
        margin-right: 20px;

        input {
            width: 165px;
            border: none;
        }

        input:focus {
            outline: none;
            box-shadow: none;
            border: none;
        }

        button:focus {
            border: none;
        }
    }

    .dropdown-menu {
        right: -36px;
        z-index: 2000;
        text-align: center;

        .dropdown-item:hover {
            font-weight: bold;
        }
    }
}