.user-manage-page {
    margin-bottom: 25px;
    
    #title {
        text-align: center;
        font-size: 24px;
        color: #ffc107;
        margin: 20px 0;
        font-weight: bold;
    }

    .control {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 20px;
    }

    .control input[type="search"] {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 10px;
        font-size: 14px;
        width: 440px;
        transition: border-color 0.3s;
    }

    .control input[type="search"]:focus {
        border-color: #34b7c6;
        outline: none;
    }

    .control button {
        padding: 10px 20px;
        background-color: #34b7c6;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        transition: background-color 0.3s ease, transform 0.2s;
        margin-right: 10px;
    }


    .control button:hover {
        background-color: #0052a3;
        transform: translateY(-2px);
    }

    .control button:active {
        transform: translateY(0);
    }

    .main table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .main table th,
    .main table td {
        padding: 12px 15px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    .main table th {
        background-color: #34b7c6;
        color: white;
        font-weight: bold;
        font-size: 16px;
    }

    .main table td {
        background-color: #f9f9f9;
        font-size: 14px;
    }

    .main table tr:nth-child(even) td {
        background-color: #f2f2f2;
    }

    .main table tr:hover td {
        background-color: #e6f7ff;
    }

    .main .confirm {
        color: green;
        font-weight: bold;
    }

    .main .cancel {
        color: red;
        font-weight: bold;
    }

    .main .processing {
        color: #e5af10;
        font-weight: bold;
    }

    .main .paid {
        color: green;
    }

    .main .unpaid {
        color: red;
    }

    .main button {
        padding: 8px 13px;
        background-color: #ffbf00;
        color: white;
        border: none;
        cursor: pointer;
        font-weight: bold;
        border-radius: 3px;
    }

    .main button:hover {
        background-color: #d2a82a;
    }

    .form-input {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
    }

    .form-input .content {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
        width: 400px;
    }

    .form-input h2 {
        text-align: center;
        color: #34b7c6;
        margin-bottom: 20px;
    }

    .form-input #btn-close {
        background: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
    }

    .form-input label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #333;
    }

    .form-input input,
    .form-input select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 14px;
    }

    .form-input #btn-submit {
        width: 100%;
        padding: 10px;
        background-color: #34b7c6;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
        margin-top: 25px;
    }

    .form-input #btn-submit:hover {
        background-color: #0052a3;
    }

    #btn-delete {
        color: red;
        margin-left: 15px;
    }

    #msg-error {
        color: red;
        font-size: 14px;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        gap: 10px;
    }

    .pagination button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 3px 15px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: #0056b3;
        }

        &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }
    }

    .pagination span {
        font-size: 16px;
        font-weight: bold;
        color: #333;
    }
}