.home-page {
    .space-custom {
        height: 48px;
    }

    @media only screen and (max-width: 992px) {
        .space-custom {
            height: 140px;
        }
    }

    @media only screen and (max-width: 767px) {
        .space-custom {
            height: 312px;
        }
    }
}