.schedule-insert-page {
    padding: 80px 0 50px;

    input {
        height: 40px;
        border-radius: 5px;
    }

    textarea {
        border-radius: 5px;
    }

    .card-body {
        .form-label {
            font-weight: bold;
        }

        .react-datepicker-wrapper {
            width: 100%;
        }

        .btn {
            padding: 5px 15px;
        }

        .btn-submit {
            background-color: #34b7c6;
            color: white;
        }

        .btn-submit:hover {
            background-color: #2a98a1;
        }
    }
}