@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');
@import '../assets/css/style.css';
@import '../assets/css/fontawesome-5.14.0.min.css';
@import '../assets/css/slick.min.css';
@import '../assets/css/flaticon.min.css';

*:not(i) {
    font-family: 'Be Vietnam Pro', sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}