*:not(i) {
    font-family: 'Be Vietnam Pro', sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;

    .text-indent {
        text-indent: 16px;
    }
}