.login-page {
    .container {
        max-width: 70% !important;
    }

    .left-box {
        background: #1087be;

        
        img {
                width: 280px;
                height: 200px;
                border-radius: 10px;
            }

        p {
            font-weight: 600;
        }

        small {
            width: 20rem;
        }
    }
    
    .right-box {
        .input-group {
            display: block;

            p {
                margin-bottom: 0.5rem !important;
            }

            input {
                width: 100%;
                border-radius: 7px !important;
            }
        }

        .bottom-group {
            small {
                font-size: 1.05rem !important;
            }

            a {
                text-decoration: none;
            }
        }
    }
}