.footer {
    .logo {
        img {
                max-width: 30px;
                border-radius: 50%;
            }
    }

    .icon {
        img {
            width: 20px;
        }
    }
    
    a:hover {
        text-decoration: underline;
    }

    .fs-7 {
        font-size: 12px !important;
    }
}